<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>home</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h1>Wellcome to My Website</h1>
        <p>Its Your Junaid Sultan</p>
    </div>
    <div class="mainContent">
        <div class="box">
            <div class="boxContent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat exercitationem omnis dolore
                repudiandae, nisi amet,
                fugit, perspiciatis dolorum tempore quia quis ea soluta ipsam eum adipisci et saepe. Nostrum, a.
            </div>
        </div>
        <div class="box">
            <div class="boxContent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat exercitationem omnis dolore
                repudiandae, nisi amet,
                fugit, perspiciatis dolorum tempore quia quis ea soluta ipsam eum adipisci et saepe. Nostrum, a.
            </div>
        </div>
        <div class="box">
            <div class="boxContent">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat exercitationem omnis dolore
                repudiandae, nisi amet,
                fugit, perspiciatis dolorum tempore quia quis ea soluta ipsam eum adipisci et saepe. Nostrum, a.
            </div>
        </div>
    </div>
    <footer>This is created by JunaidSultan92pk Copyright@2022</footer>
</body>
</html>