
    <nav>
        <div class="logo">Mern Stack</div>
        <div class="items">
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/register">REGISTER</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </nav>
